<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
  <Properties>
     <Property name ="basePath">./logs</Property>
  </Properties>
      <RollingFile name="File" fileName="logs/prints.log"
                 filePattern="logs/prints-%d{yyyy-Mm-dd}.log">
     <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="250 MB"/>
      </Policies>
    </RollingFile>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
 <!-- <Logger name ="src/main/java/SLTP.Project.Pages.Home" level="trace" additivity="true" >
  <AppenderRef ref ="File" />
  </Logger> -->
    <Root level="trace" additivity="true" >
      <AppenderRef ref="Console"/>
       <AppenderRef ref="File"/>
      <AppenderRef />
    </Root>
   <!--  <Root level="trace">
      <appender-ref ref="Console" level="trace"/>
       <appender-ref ref="File" level="trace"/>
    </Root>  -->
  </Loggers>
</Configuration>